Connected Services/PJeTMT/IntercomunicacaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IntercomunicacaoService" targetNamespace="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:ns1="http://www.cnj.jus.br/intercomunicacao-2.2.2" targetNamespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <xs:complexType name="tipoConsultarAlteracao">
        <xs:sequence>
          <xs:element form="qualified" name="idConsultante" type="xs:string" />
          <xs:element form="qualified" name="senhaConsultante" type="xs:string" />
          <xs:element form="qualified" name="numeroProcesso" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarAlteracaoResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="hashCabecalho" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="hashMovimentacoes" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="hashDocumentos" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConfirmarRecebimento">
        <xs:sequence>
          <xs:element form="qualified" name="idRecebedor" type="xs:string" />
          <xs:element form="qualified" name="senhaRecebedor" type="xs:string" />
          <xs:element form="qualified" name="protocolo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConfirmarRecebimentoResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarAvisosPendentes">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="idRepresentado" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="idConsultante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="senhaConsultante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="dataReferencia" type="ns1:tipoDataHora" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarAvisosPendentesResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="aviso" nillable="true" type="ns1:tipoAvisoComunicacaoPendente" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarProcesso">
        <xs:sequence>
          <xs:element form="qualified" name="idConsultante" type="xs:string" />
          <xs:element form="qualified" name="senhaConsultante" type="xs:string" />
          <xs:element form="qualified" name="numeroProcesso" type="ns1:tipoNumeroUnico" />
          <xs:element minOccurs="0" form="qualified" name="dataReferencia" type="ns1:tipoDataHora" />
          <xs:element minOccurs="0" form="qualified" name="movimentos" type="xs:boolean" />
          <xs:element minOccurs="0" form="qualified" name="incluirCabecalho" type="xs:boolean" />
          <xs:element minOccurs="0" form="qualified" name="incluirDocumentos" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="documento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarProcessoResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="processo" type="ns1:tipoProcessoJudicial" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarTeorComunicacao">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="idConsultante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="senhaConsultante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="numeroProcesso" type="ns1:tipoNumeroUnico" />
          <xs:element minOccurs="0" form="qualified" name="identificadorAviso" type="ns1:identificadorComunicacao" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoEntregarManifestacaoProcessual">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="idManifestante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="senhaManifestante" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="numeroProcesso" type="ns1:tipoNumeroUnico" />
          <xs:element minOccurs="0" form="qualified" name="dadosBasicos" type="ns1:tipoCabecalhoProcesso" />
          <xs:element maxOccurs="unbounded" form="qualified" name="documento" type="ns1:tipoDocumento" />
          <xs:element form="qualified" name="dataEnvio" type="ns1:tipoDataHora" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="parametros" nillable="true" type="ns1:tipoParametro" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoEntregarManifestacaoProcessualResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
          <xs:element form="qualified" name="protocoloRecebimento" type="xs:string" />
          <xs:element form="qualified" name="dataOperacao" type="ns1:tipoDataHora" />
          <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" form="qualified" name="recibo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="parametro" nillable="true" type="ns1:tipoParametro" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoConsultarTeorComunicacaoResposta">
        <xs:sequence>
          <xs:element form="qualified" name="sucesso" type="xs:boolean" />
          <xs:element form="qualified" name="mensagem" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="comunicacao" nillable="true" type="ns1:tipoComunicacaoProcessual" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2" xmlns:ns2="http://www.cnj.jus.br/intercomunicacao-2.2.2" targetNamespace="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2" />
      <xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
      <xs:element name="confirmarRecebimento" type="ns1:tipoConfirmarRecebimento" />
      <xs:element name="confirmarRecebimentoResposta" type="ns1:tipoConfirmarRecebimentoResposta" />
      <xs:element name="consultarAlteracao" type="ns1:tipoConsultarAlteracao" />
      <xs:element name="consultarAlteracaoResposta" type="ns1:tipoConsultarAlteracaoResposta" />
      <xs:element name="consultarAvisosPendentes" type="ns1:tipoConsultarAvisosPendentes" />
      <xs:element name="consultarAvisosPendentesResposta" type="ns1:tipoConsultarAvisosPendentesResposta" />
      <xs:element name="consultarProcesso" type="ns1:tipoConsultarProcesso" />
      <xs:element name="consultarProcessoResposta" type="ns1:tipoConsultarProcessoResposta" />
      <xs:element name="consultarTeorComunicacao" type="ns1:tipoConsultarTeorComunicacao" />
      <xs:element name="consultarTeorComunicacaoResposta" type="ns1:tipoConsultarTeorComunicacaoResposta" />
      <xs:element name="entregarManifestacaoProcessual" type="ns1:tipoEntregarManifestacaoProcessual" />
      <xs:element name="entregarManifestacaoProcessualResposta" type="ns1:tipoEntregarManifestacaoProcessualResposta" />
    </xs:schema>
    <xs:schema xmlns:tns="http://www.cnj.jus.br/mni/cda" targetNamespace="http://www.cnj.jus.br/mni/cda" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="tipoDividaAtiva">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" form="qualified" name="certidao" type="tns:tipoCertidao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="tipoDevedorPrincipal">
        <xs:sequence />
        <xs:attribute name="inscricaoMF" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="tipoDevedorAlternativo">
        <xs:sequence />
        <xs:attribute name="inscricaoMF" type="xs:string" use="required" />
        <xs:attribute name="tipo" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="valorDivida">
        <xs:sequence />
        <xs:attribute name="valor" type="xs:string" use="required" />
        <xs:attribute name="dataApuracao" type="xs:date" use="required" />
        <xs:attribute name="dataInicioIncidencia" type="xs:date" />
        <xs:attribute name="rubrica" type="xs:string" use="required" />
        <xs:attribute name="tipoValor" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="tipoCertidao">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" form="qualified" name="devedorPrincipal" type="tns:tipoDevedorPrincipal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="devedorAlternativo" nillable="true" type="tns:tipoDevedorAlternativo" />
          <xs:element maxOccurs="unbounded" form="qualified" name="valor" type="tns:valorDivida" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://www.cnj.jus.br/intercomunicacao-2.2.2" elementFormDefault="qualified" targetNamespace="http://www.cnj.jus.br/intercomunicacao-2.2.2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <xs:element name="intercomunicacao" type="tns:tipoIntercomunicacao" />
      <xs:simpleType name="tipoDataHora">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoAvisoComunicacaoPendente">
        <xs:sequence>
          <xs:element name="destinatario" type="tns:tipoParte" />
          <xs:element name="processo" type="tns:tipoCabecalhoProcesso" />
          <xs:element name="dataDisponibilizacao" type="tns:tipoDataHora" />
        </xs:sequence>
        <xs:attribute name="idAviso" type="tns:identificadorComunicacao" use="required" />
        <xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao" />
      </xs:complexType>
      <xs:complexType name="tipoParte">
        <xs:sequence>
          <xs:element minOccurs="0" name="pessoa" type="tns:tipoPessoa" />
          <xs:element minOccurs="0" name="interessePublico" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="advogado" nillable="true" type="tns:tipoRepresentanteProcessual" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pessoaProcessualRelacionada" nillable="true" type="tns:tipoParte" />
        </xs:sequence>
        <xs:attribute name="assistenciaJudiciaria" type="xs:boolean" />
        <xs:attribute name="intimacaoPendente" type="xs:int" />
        <xs:attribute name="relacionamentoProcessual" type="tns:modalidadeRelacionamentoProcessual" />
      </xs:complexType>
      <xs:complexType name="tipoPessoa">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="outroNome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documento" nillable="true" type="tns:tipoDocumentoIdentificacao" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="endereco" nillable="true" type="tns:tipoEndereco" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pessoaRelacionada" nillable="true" type="tns:tipoRelacionamentoPessoal" />
          <xs:element minOccurs="0" name="pessoaVinculada" type="tns:tipoPessoa" />
        </xs:sequence>
        <xs:attribute name="nome" type="xs:string" use="required" />
        <xs:attribute name="sexo" type="tns:modalidadeGeneroPessoa" use="required" />
        <xs:attribute name="nomeGenitor" type="xs:string" />
        <xs:attribute name="nomeGenitora" type="xs:string" />
        <xs:attribute name="dataNascimento" type="tns:tipoData" />
        <xs:attribute name="dataObito" type="tns:tipoData" />
        <xs:attribute name="numeroDocumentoPrincipal" type="tns:tipoCadastroIdentificador" />
        <xs:attribute name="tipoPessoa" type="tns:tipoQualificacaoPessoa" use="required" />
        <xs:attribute name="cidadeNatural" type="xs:string" />
        <xs:attribute name="estadoNatural" type="xs:string" />
        <xs:attribute name="nacionalidade" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoDocumentoIdentificacao">
        <xs:sequence />
        <xs:attribute name="codigoDocumento" type="xs:string" use="required" />
        <xs:attribute name="emissorDocumento" type="xs:string" use="required" />
        <xs:attribute name="tipoDocumento" type="tns:modalidadeDocumentoIdentificador" use="required" />
        <xs:attribute name="nome" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoEndereco">
        <xs:sequence>
          <xs:element minOccurs="0" name="logradouro" type="xs:string" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="complemento" type="xs:string" />
          <xs:element minOccurs="0" name="bairro" type="xs:string" />
          <xs:element minOccurs="0" name="cidade" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="pais" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="cep" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoRelacionamentoPessoal">
        <xs:sequence>
          <xs:element name="pessoa" type="tns:tipoPessoa" />
        </xs:sequence>
        <xs:attribute name="modalidadeRelacionamento" type="tns:modalidadesRelacionamentoPessoal" />
      </xs:complexType>
      <xs:simpleType name="tipoData">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:simpleType name="tipoCadastroIdentificador">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoRepresentanteProcessual">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="endereco" nillable="true" type="tns:tipoEndereco" />
        </xs:sequence>
        <xs:attribute name="nome" type="xs:string" use="required" />
        <xs:attribute name="inscricao" type="tns:tipoCadastroOAB" />
        <xs:attribute name="numeroDocumentoPrincipal" type="xs:string" />
        <xs:attribute name="intimacao" type="xs:boolean" use="required" />
        <xs:attribute name="tipoRepresentante" type="tns:modalidadeRepresentanteProcessual" use="required" />
      </xs:complexType>
      <xs:simpleType name="tipoCadastroOAB">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoCabecalhoProcesso">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="polo" type="tns:tipoPoloProcessual" />
          <xs:element maxOccurs="unbounded" name="assunto" type="tns:tipoAssuntoProcessual" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="magistradoAtuante" nillable="true" type="tns:tipoCadastroIdentificador" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="processoVinculado" nillable="true" type="tns:tipoVinculacaoProcessual" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="prioridade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="outroParametro" nillable="true" type="tns:tipoParametro" />
          <xs:element minOccurs="0" name="valorCausa" type="xs:double" />
          <xs:element name="orgaoJulgador" type="tns:tipoOrgaoJulgador" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="outrosnumeros" nillable="true" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="numero" type="tns:tipoNumeroUnico" use="required" />
        <xs:attribute name="competencia" type="xs:int" />
        <xs:attribute name="classeProcessual" type="xs:int" use="required" />
        <xs:attribute name="codigoLocalidade" type="xs:string" use="required" />
        <xs:attribute name="nivelSigilo" type="xs:int" use="required" />
        <xs:attribute name="intervencaoMP" type="xs:boolean" />
        <xs:attribute name="tamanhoProcesso" type="xs:int" />
        <xs:attribute name="dataAjuizamento" type="tns:tipoDataHora" />
      </xs:complexType>
      <xs:complexType name="tipoPoloProcessual">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="parte" type="tns:tipoParte" />
        </xs:sequence>
        <xs:attribute name="polo" type="tns:modalidadePoloProcessual" />
      </xs:complexType>
      <xs:complexType name="tipoAssuntoProcessual">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoNacional" type="xs:int" />
          <xs:element minOccurs="0" name="assuntoLocal" type="tns:tipoAssuntoLocal" />
        </xs:sequence>
        <xs:attribute name="principal" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="tipoAssuntoLocal">
        <xs:sequence>
          <xs:element minOccurs="0" name="assuntoLocalPai" type="tns:tipoAssuntoLocal" />
        </xs:sequence>
        <xs:attribute name="codigoAssunto" type="xs:int" use="required" />
        <xs:attribute name="codigoPaiNacional" type="xs:int" use="required" />
        <xs:attribute name="descricao" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="tipoVinculacaoProcessual">
        <xs:sequence />
        <xs:attribute name="numeroProcesso" type="tns:tipoNumeroUnico" use="required" />
        <xs:attribute name="vinculo" type="tns:modalidadeVinculacaoProcesso" use="required" />
      </xs:complexType>
      <xs:simpleType name="tipoNumeroUnico">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoParametro">
        <xs:sequence />
        <xs:attribute name="nome" type="xs:string" />
        <xs:attribute name="valor" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoOrgaoJulgador">
        <xs:sequence />
        <xs:attribute name="codigoOrgao" type="xs:string" use="required" />
        <xs:attribute name="nomeOrgao" type="xs:string" use="required" />
        <xs:attribute name="instancia" type="xs:string" use="required" />
        <xs:attribute name="codigoMunicipioIBGE" type="xs:int" use="required" />
      </xs:complexType>
      <xs:simpleType name="identificadorComunicacao">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:simpleType name="tipoComunicacao">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoProcessoJudicial">
        <xs:sequence>
          <xs:element name="dadosBasicos" type="tns:tipoCabecalhoProcesso" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="movimento" nillable="true" type="tns:tipoMovimentoProcessual" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documento" nillable="true" type="tns:tipoDocumento" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoMovimentoProcessual">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="complemento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="movimentoNacional" type="tns:tipoMovimentoNacional" />
          <xs:element minOccurs="0" name="movimentoLocal" type="tns:tipoMovimentoLocal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idDocumentoVinculado" nillable="true" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="dataHora" type="tns:tipoDataHora" use="required" />
        <xs:attribute name="nivelSigilo" type="xs:int" />
        <xs:attribute name="identificadorMovimento" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoMovimentoNacional">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="complemento" nillable="true" type="tns:tipoComplemento" />
        </xs:sequence>
        <xs:attribute name="codigoNacional" type="xs:int" use="required" />
      </xs:complexType>
      <xs:simpleType name="tipoComplemento">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="tipoMovimentoLocal">
        <xs:sequence>
          <xs:element minOccurs="0" name="movimentoLocalPai" type="tns:tipoMovimentoLocal" />
        </xs:sequence>
        <xs:attribute name="codigoMovimento" type="xs:int" use="required" />
        <xs:attribute name="codigoPaiNacional" type="xs:int" use="required" />
        <xs:attribute name="descricao" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="tipoDocumento">
        <xs:sequence>
          <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="conteudo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assinatura" nillable="true" type="tns:tipoAssinatura" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="outroParametro" nillable="true" type="tns:tipoParametro" />
          <xs:any namespace="##other" processContents="lax" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documentoVinculado" nillable="true" type="tns:tipoDocumento" />
        </xs:sequence>
        <xs:attribute name="idDocumento" type="xs:string" />
        <xs:attribute name="idDocumentoVinculado" type="xs:string" />
        <xs:attribute name="tipoDocumento" type="xs:string" use="required" />
        <xs:attribute name="dataHora" type="tns:tipoDataHora" />
        <xs:attribute name="mimetype" type="xs:string" />
        <xs:attribute name="nivelSigilo" type="xs:int" />
        <xs:attribute name="movimento" type="xs:int" />
        <xs:attribute name="hash" type="xs:string" />
        <xs:attribute name="descricao" type="xs:string" />
        <xs:attribute name="tipoDocumentoLocal" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoAssinatura">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="signatarioLogin" nillable="true" type="tns:tipoSignatarioSimples" />
        </xs:sequence>
        <xs:attribute name="assinatura" type="xs:string" />
        <xs:attribute name="dataAssinatura" type="tns:tipoDataHora" />
        <xs:attribute name="cadeiaCertificado" type="xs:string" />
        <xs:attribute name="algoritmoHash" type="xs:string" />
        <xs:attribute name="codificacaoCertificado" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tipoSignatarioSimples">
        <xs:sequence />
        <xs:attribute name="identificador" type="xs:string" />
        <xs:attribute name="dataHora" type="tns:tipoDataHora" />
      </xs:complexType>
      <xs:complexType name="tipoIntercomunicacao">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="processojudicial" nillable="true" type="tns:tipoProcessoJudicial" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="avisocomunicacao" nillable="true" type="tns:tipoAvisoComunicacaoPendente" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="comunicacaoprocessual" nillable="true" type="tns:tipoComunicacaoProcessual" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documento" nillable="true" type="tns:tipoDocumento" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tipoComunicacaoProcessual">
        <xs:sequence>
          <xs:element name="destinatario" type="tns:tipoParte" />
          <xs:element name="processo" type="xs:string" />
          <xs:element minOccurs="0" name="teor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documento" nillable="true" type="tns:tipoDocumento" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="parametro" nillable="true" type="xs:string" />
          <xs:any namespace="##other" processContents="lax" />
        </xs:sequence>
        <xs:attribute name="id" type="tns:identificadorComunicacao" use="required" />
        <xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao" />
        <xs:attribute name="tipoPrazo" type="tns:tipoPrazo" />
        <xs:attribute name="dataReferencia" type="tns:tipoDataHora" />
        <xs:attribute name="prazo" type="xs:int" />
        <xs:attribute name="nivelSigilo" type="xs:int" />
      </xs:complexType>
      <xs:simpleType name="modalidadeDocumentoIdentificador">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CI" />
          <xs:enumeration value="CNH" />
          <xs:enumeration value="TE" />
          <xs:enumeration value="CN" />
          <xs:enumeration value="CC" />
          <xs:enumeration value="PAS" />
          <xs:enumeration value="CT" />
          <xs:enumeration value="RIC" />
          <xs:enumeration value="CMF" />
          <xs:enumeration value="PIS_PASEP" />
          <xs:enumeration value="CEI" />
          <xs:enumeration value="NIT" />
          <xs:enumeration value="CP" />
          <xs:enumeration value="IF" />
          <xs:enumeration value="OAB" />
          <xs:enumeration value="RJC" />
          <xs:enumeration value="RGE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadesRelacionamentoPessoal">
        <xs:restriction base="xs:string">
          <xs:enumeration value="P" />
          <xs:enumeration value="AP" />
          <xs:enumeration value="SP" />
          <xs:enumeration value="T" />
          <xs:enumeration value="C" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadeGeneroPessoa">
        <xs:restriction base="xs:string">
          <xs:enumeration value="M" />
          <xs:enumeration value="F" />
          <xs:enumeration value="D" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="tipoQualificacaoPessoa">
        <xs:restriction base="xs:string">
          <xs:enumeration value="fisica" />
          <xs:enumeration value="juridica" />
          <xs:enumeration value="autoridade" />
          <xs:enumeration value="orgaorepresentacao" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadeRepresentanteProcessual">
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="E" />
          <xs:enumeration value="M" />
          <xs:enumeration value="D" />
          <xs:enumeration value="P" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadeRelacionamentoProcessual">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CP" />
          <xs:enumeration value="RP" />
          <xs:enumeration value="TF" />
          <xs:enumeration value="AT" />
          <xs:enumeration value="AS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadePoloProcessual">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AT" />
          <xs:enumeration value="PA" />
          <xs:enumeration value="TC" />
          <xs:enumeration value="FL" />
          <xs:enumeration value="TJ" />
          <xs:enumeration value="AD" />
          <xs:enumeration value="VI" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="modalidadeVinculacaoProcesso">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CX" />
          <xs:enumeration value="CT" />
          <xs:enumeration value="DP" />
          <xs:enumeration value="AR" />
          <xs:enumeration value="CD" />
          <xs:enumeration value="OR" />
          <xs:enumeration value="RR" />
          <xs:enumeration value="RG" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="tipoPrazo">
        <xs:restriction base="xs:string">
          <xs:enumeration value="HOR" />
          <xs:enumeration value="DIA" />
          <xs:enumeration value="MES" />
          <xs:enumeration value="ANO" />
          <xs:enumeration value="DATA_CERTA" />
          <xs:enumeration value="SEMPRAZO" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarAvisosPendentesResponse">
    <wsdl:part name="parameters" element="tns:consultarAvisosPendentesResposta" />
  </wsdl:message>
  <wsdl:message name="consultarAlteracaoResponse">
    <wsdl:part name="parameters" element="tns:consultarAlteracaoResposta" />
  </wsdl:message>
  <wsdl:message name="confirmarRecebimentoResponse">
    <wsdl:part name="parameters" element="tns:confirmarRecebimentoResposta" />
  </wsdl:message>
  <wsdl:message name="consultarAlteracao">
    <wsdl:part name="parameters" element="tns:consultarAlteracao" />
  </wsdl:message>
  <wsdl:message name="entregarManifestacaoProcessualResponse">
    <wsdl:part name="parameters" element="tns:entregarManifestacaoProcessualResposta" />
  </wsdl:message>
  <wsdl:message name="consultarProcessoResponse">
    <wsdl:part name="parameters" element="tns:consultarProcessoResposta" />
  </wsdl:message>
  <wsdl:message name="consultarTeorComunicacaoResponse">
    <wsdl:part name="parameters" element="tns:consultarTeorComunicacaoResposta" />
  </wsdl:message>
  <wsdl:message name="confirmarRecebimento">
    <wsdl:part name="parameters" element="tns:confirmarRecebimento" />
  </wsdl:message>
  <wsdl:message name="consultarAvisosPendentes">
    <wsdl:part name="parameters" element="tns:consultarAvisosPendentes" />
  </wsdl:message>
  <wsdl:message name="consultarProcesso">
    <wsdl:part name="parameters" element="tns:consultarProcesso" />
  </wsdl:message>
  <wsdl:message name="consultarTeorComunicacao">
    <wsdl:part name="parameters" element="tns:consultarTeorComunicacao" />
  </wsdl:message>
  <wsdl:message name="entregarManifestacaoProcessual">
    <wsdl:part name="parameters" element="tns:entregarManifestacaoProcessual" />
  </wsdl:message>
  <wsdl:portType name="servico-intercomunicacao-2.2.2">
    <wsdl:operation name="consultarAlteracao">
      <wsdl:input name="consultarAlteracao" message="tns:consultarAlteracao" />
      <wsdl:output name="consultarAlteracaoResponse" message="tns:consultarAlteracaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="confirmarRecebimento">
      <wsdl:input name="confirmarRecebimento" message="tns:confirmarRecebimento" />
      <wsdl:output name="confirmarRecebimentoResponse" message="tns:confirmarRecebimentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarAvisosPendentes">
      <wsdl:input name="consultarAvisosPendentes" message="tns:consultarAvisosPendentes" />
      <wsdl:output name="consultarAvisosPendentesResponse" message="tns:consultarAvisosPendentesResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarProcesso">
      <wsdl:input name="consultarProcesso" message="tns:consultarProcesso" />
      <wsdl:output name="consultarProcessoResponse" message="tns:consultarProcessoResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarTeorComunicacao">
      <wsdl:input name="consultarTeorComunicacao" message="tns:consultarTeorComunicacao" />
      <wsdl:output name="consultarTeorComunicacaoResponse" message="tns:consultarTeorComunicacaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="entregarManifestacaoProcessual">
      <wsdl:input name="entregarManifestacaoProcessual" message="tns:entregarManifestacaoProcessual" />
      <wsdl:output name="entregarManifestacaoProcessualResponse" message="tns:entregarManifestacaoProcessualResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntercomunicacaoServiceSoapBinding" type="tns:servico-intercomunicacao-2.2.2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarAlteracao">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAlteracao" style="document" />
      <wsdl:input name="consultarAlteracao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarAlteracaoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmarRecebimento">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/confirmarRecebimento" style="document" />
      <wsdl:input name="confirmarRecebimento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="confirmarRecebimentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarAvisosPendentes">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAvisosPendentes" style="document" />
      <wsdl:input name="consultarAvisosPendentes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarAvisosPendentesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarProcesso">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarProcesso" style="document" />
      <wsdl:input name="consultarProcesso">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarProcessoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTeorComunicacao">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarTeorComunicacao" style="document" />
      <wsdl:input name="consultarTeorComunicacao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarTeorComunicacaoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregarManifestacaoProcessual">
      <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/entregarManifestacaoProcessual" style="document" />
      <wsdl:input name="entregarManifestacaoProcessual">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="entregarManifestacaoProcessualResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntercomunicacaoService">
    <wsdl:port name="IntercomunicacaoImplPort" binding="tns:IntercomunicacaoServiceSoapBinding">
      <soap:address location="https://pje.tjmt.jus.br/pje/intercomunicacao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>